@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&family=Shrikhand&display=swap");
/* $colour-accent: #D6FFF5;
$colour-white: #fff;
$colour-invalid: #DB464B;

$heading-shadow-size: .55rem;
$layout-margin: 6rem;
$grid-gutter: $layout-margin * .25; */
/* @import "./utils/functions";
@import "./utils/mixins";
@import "./utils/extensions"; */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  /* 10px div by def of 16px */
  font-size: 62.5%;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* background: ; */
}

body {
  font-family: 'Roboto', sans-serif;
  color: #040404;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.7;
}

.header__logo, .footer__logo {
  font-family: 'Shrikhand', cursive;
  font-size: 42px;
  line-height: 42px;
  color: #040404;
}

.footer__logo {
  font-size: 22px;
  line-height: 26px;
  color: #FAFAFA;
}

/* @import "./components/buttons"; */
.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* flex-direction: row; */
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem;
  background: #FAFAFA;
  -webkit-box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
}

.header__logo, .footer__logo {
  /* width: 160px;
        height: 42px;
        flex-grow: 0; */
  /* font-family: 'Shrikhand', cursive;
        font-size: 29px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: left;
        color: $text-color; */
}

.location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem;
  background-color: #EAEAEA;
}

.location__icon {
  margin-right: 2rem;
}

.location__text {
  font-weight: 500;
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 2rem;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 2rem;
  background: #353535;
}

.footer__list {
  list-style: none;
  color: #FAFAFA;
}

.footer__mention {
  text-decoration: none;
  color: #FAFAFA;
}

.footer__icons {
  width: 1.2rem;
  margin-right: 2rem;
}

/* @import "./layout/nav";
@import "./layout/container";
@import "./layout/form"; */
.container {
  /* top: 65px; */
  padding: 2rem;
}

/* 
.search {
  top: 3rem;
  width: 100%;
  height: 19px;
  margin: 0 0 0 17.5px;
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: $text-color;
} */
/* @import "./pages/about";
@import "./pages/project"; */
/*# sourceMappingURL=main.css.map */