@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;600;700&family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;600;700&family=Shrikhand&display=swap");
@use "sass:map";
/** Colors **/
/** Elements **/
/** Layouts **/
/** measuring scale **/
/** Bootstraps **/
/** Box-shadow **/
/** Spacing **/
/** @format */
/** Bootstraps **/
/** Component **/
@use "sass:map";
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

:root {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  width: 100%;
  min-width: 350px;
}

:root {
  font-family: 'Roboto', sans-serif;
}

body {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.5;
}

h2 {
  color: #000000;
  font-size: 2rem;
  font-weight: 600;
  margin: 0;
  padding: 2rem;
}

h3 {
  text-transform: uppercase;
  position: relative;
  padding-bottom: 0.5rem;
  font-weight: 400;
  margin-bottom: 1.5rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

h3::after {
  content: "";
  width: 3.5rem;
  height: 0.5rem;
  background: #99E2D0;
  position: absolute;
  left: 0;
  bottom: 0;
}

h4 {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

h5 {
  font-size: 1.3rem;
  font-weight: 300;
  line-height: 1.5;
  color: #404040;
  padding: 2rem;
}

p {
  font-size: 1rem;
  font-weight: 300;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

a {
  text-decoration: none;
  color: #FAFAFA;
}

.header__logo {
  font-family: "Shrikhand", cursive;
  color: #101010;
  font-size: 2.5rem;
  line-height: 2rem;
}

.footer__logo {
  font-family: "Shrikhand", cursive;
  color: #FFFFFF;
  font-size: 1.375rem;
  line-height: 1.7rem;
  padding-bottom: 1.5rem;
}

.btn {
  border: 0;
  padding: 1.5rem 4rem;
  font-weight: 500;
  font-size: 0.9em;
  color: #FFFFFF;
  border-radius: 100px;
  background: linear-gradient(-5deg, #9256dc 2%, #ff7ad9 98%);
  cursor: pointer;
  -webkit-box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.2);
  -webkit-transform: scale(1);
          transform: scale(1);
}

.btn:hover {
  background: linear-gradient(10deg, #9256dc 1%, #ff7ad9 100%);
  -webkit-box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.5);
  -webkit-transition: 2s;
  transition: 2s;
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
}

/** @format */
.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
  padding: 2rem;
  background: #FFFFFF;
  -webkit-box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.125);
          box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.125);
  position: relative;
}

.header__arrow {
  position: absolute;
  left: 1rem;
  top: 45%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 2rem;
  color: #000000;
}

@media (max-width: 400px) {
  .header__arrow {
    font-size: 1.1rem;
    -webkit-transition: 2s;
    transition: 2s;
  }
}

.location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
  padding: 2rem;
  background: #EAEAEA;
  color: #353535;
}

.location__icon {
  margin-right: 2rem;
}

.location__text {
  font-weight: 500;
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
  text-align: center;
  width: 100%;
  padding: 2rem;
  padding-bottom: 4rem;
  background: #F6F6F6;
}

@media all and (min-width: 1400px) {
  .hero {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(200px, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    -ms-grid-rows: (minmax(200px, 1fr))[auto-fit];
        grid-template-rows: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 2rem;
        grid-template-areas: "title text . btn";
    -ms-grid-row: span 2;
        grid-row-start: span 2;
    padding: 2rem 6rem;
  }
}

@media all and (min-width: 1400px) {
  .hero__title {
    grid-area: title;
    padding: 0;
  }
}

@media all and (min-width: 1400px) {
  .hero__text {
    grid-area: text;
  }
}

.hero__btn {
  border: 0;
  padding: 1.5rem 4rem;
  font-weight: 500;
  font-size: 0.9em;
  color: #FFFFFF;
  border-radius: 100px;
  background: linear-gradient(-5deg, #9256dc 2%, #ff7ad9 98%);
  cursor: pointer;
  -webkit-box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.2);
  -webkit-transform: scale(1);
          transform: scale(1);
  text-decoration: none;
  color: #FFFFFF;
}

.hero__btn:hover {
  background: linear-gradient(10deg, #9256dc 1%, #ff7ad9 100%);
  -webkit-box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.5);
  -webkit-transition: 2s;
  transition: 2s;
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
}

@media all and (min-width: 1400px) {
  .hero__btn {
    grid-area: btn;
  }
}

/** @format */
.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
  padding: 2rem;
  background: #353535;
}

.footer__list {
  list-style: none;
}

.footer__list--contact:hover {
  color: #ffa3e5;
  -webkit-transition: 2.5s;
  transition: 2.5s;
}

.footer__icons {
  width: 1.1rem;
  margin-right: 1.5rem;
}

/** @format */
.operation {
  grid-area: operation;
  /* display: grid;
  grid-column: 1fr;
  grid-row: repeat(auto, 1fr); */
  padding: 2rem;
  padding-bottom: 4rem;
}

.operation__steps {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
  margin: 0;
  padding: 0;
  list-style: none;
  counter-reset: compteListe;
}

@media (min-width: 64rem) {
  .operation__steps {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media all and (min-width: 750px) {
  .operation__steps {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-line-pack: distribute;
        align-content: space-around;
  }
}

@media all and (min-width: 1024px) {
  .operation__steps {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-line-pack: distribute;
        align-content: space-around;
  }
}

@media all and (min-width: 1400px) {
  .operation__steps {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-line-pack: distribute;
        align-content: space-around;
    padding-top: 1rem;
  }
}

.operation__step {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
  padding-top: 2rem;
  padding-right: 4rem;
  padding-bottom: 2rem;
  padding-left: 4rem;
  margin: 1rem 0 2rem 0.75rem;
  -webkit-box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.125);
          box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.125);
  border-radius: 1.25rem;
  background: #F6F6F6;
  position: relative;
  /* @media (min-width: 1024px) {
      flex: 1;
      margin: 0;
      margin-left: map-get($sizing, regular);
    } */
}

@media all and (min-width: 750px) {
  .operation__step {
    width: 15rem;
  }
}

@media all and (min-width: 1024px) {
  .operation__step {
    width: 20rem;
  }
}

.operation__step--icon {
  padding-right: 1rem;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  color: #404040;
}

.operation__step--text {
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
}

.operation__step::before {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
  counter-increment: compteListe 1;
  content: counter(compteListe) " ";
  background: #9256dc;
  height: 2.2rem;
  width: 2.2rem;
  border-radius: 100%;
  color: #FFFFFF;
  position: absolute;
  left: -0.75rem;
}

.operation__step:hover {
  background: rgba(146, 86, 220, 0.15);
  cursor: pointer;
}

/** @format */
.restaurant {
  grid-area: restaurant;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[1];
      grid-template-columns: repeat(1, 1fr);
  -ms-grid-rows: (1fr)[1];
      grid-template-rows: repeat(1, 1fr);
  grid-gap: 2rem;
  padding: 2rem;
  padding-bottom: 4rem;
  background: #F6F6F6;
}

@media all and (min-width: 750px) {
  .restaurant {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media all and (min-width: 1400px) {
  .restaurant {
    background: #FFFFFF;
    padding-right: 4rem;
  }
}

@media all and (min-width: 750px) {
  .restaurant__title {
    -ms-grid-column: span 2;
        grid-column-start: span 2;
  }
}

@media all and (min-width: 1400px) {
  .restaurant__title {
    padding-left: 0;
  }
}

.restaurant .figure__card {
  border-radius: 1rem;
  -webkit-box-shadow: 2px 4px 8px 3px #e4e4e7;
          box-shadow: 2px 4px 8px 3px #e4e4e7;
  position: relative;
  background: #FFFFFF;
  cursor: pointer;
}

.restaurant .figure__card--img {
  height: 12.5rem;
  width: 100%;
  border-radius: 1rem 1rem 0 0;
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
}

.restaurant .figure__card span {
  background: #99E2D0;
  color: #377E56;
  font-weight: 700;
  padding: 0.5rem 1.5rem;
  border-radius: 0.125rem;
  position: absolute;
  top: 1.5rem;
  right: 1rem;
}

.restaurant .figcaption__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
  padding: 1rem;
}

.restaurant .figcaption__card--text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
  padding: 1rem;
  position: relative;
}

.restaurant .figcaption__card--btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  width: 4rem;
  height: 4rem;
  border: transparent 0px solid;
  padding: 1rem;
  cursor: pointer;
  position: relative;
  background: #FFFFFF;
}

.restaurant .figcaption__card--like {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1rem;
  background: #FFFFFF;
  color: #404040;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  font-weight: normal;
}

.restaurant .figcaption__card--like:hover {
  font-weight: bold;
  color: #ffa3e5;
  -webkit-transition: 2.5s;
  transition: 2.5s;
}

@media all and (min-width: 1400px) {
  .container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(200px, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    -ms-grid-rows: (minmax(200px, 1fr))[auto-fit];
        grid-template-rows: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 2rem;
        grid-template-areas: "operation restaurant restaurant ";
  }
}

/** @format */
@media all and (min-width: 1400px) {
  .wrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(200px, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 2rem;
        grid-template-areas: "img main main";
    width: 100%;
    background: #F6F6F6;
  }
  .wrapper .hero__page_menu {
    height: 68vh;
    width: 68vh;
  }
  .wrapper .hero__page_menu--img {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: img;
    height: 68vh;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

.hero__page_menu--img {
  height: 50vh;
  width: 100%;
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.resto {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(200px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 2rem;
  width: 100%;
  margin-top: -6rem;
  padding-right: 0.3rem;
  padding: 2rem;
  padding-bottom: 4rem;
  position: relative;
  display: block;
  border-radius: 4rem 4rem 0 0;
  background: #F6F6F6;
  z-index: 1;
  padding: 2rem;
}

@media all and (min-width: 750px) {
  .resto {
    max-width: 100%;
    /*  @include grid; */
        grid-template-areas: "title title" "starter middle" "finish btn";
    /* grid-gap: $size * 2; */
  }
}

@media all and (min-width: 1024px) {
  .resto {
    display: -ms-grid;
    display: grid;
        grid-template-areas: "title title btn" "starter middle finish";
    /* grid-gap: $size * 2; */
  }
}

@media all and (min-width: 1400px) {
  .resto {
    grid-area: main;
    height: 68vh;
    width: calc(100% + $size * 3);
    margin-top: 0;
    border-radius: 4rem 0 0 4rem;
    /*  @include grid; */
        grid-template-areas: "title title btn" "starter middle finish";
    /* grid-gap: $size * 2; */
  }
}

.resto__menu {
  grid-area: title;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
  margin-bottom: 2rem;
}

@media all and (min-width: 1024px) {
  .resto__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-line-pack: distribute;
        align-content: space-around;
    margin-bottom: 0;
  }
}

@media all and (min-width: 1400px) {
  .resto__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-line-pack: distribute;
        align-content: space-around;
    margin-bottom: 0;
  }
}

.resto__menu--title {
  font-family: "Shrikhand", cursive;
  padding: 2rem 0;
  font-size: 1.5rem;
}

@media all and (min-width: 750px) {
  .resto__menu--title {
    font-size: 2rem;
  }
}

.resto__menu--btn {
  grid-area: heart;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 4rem;
  height: 4rem;
  border: transparent 0px solid;
  padding: 1rem;
  cursor: pointer;
  position: relative;
  background: #F6F6F6;
}

.resto__menu--like {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  padding: 1rem;
  background: #F6F6F6;
  color: #404040;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  font-weight: normal;
  padding-right: 1.7rem;
}

.resto__menu--like:hover {
  font-weight: bold;
  color: #ffa3e5;
  -webkit-transition: 2.5s;
  transition: 2.5s;
}

.menu__starter,
.menu__middle {
  margin-bottom: 3.5rem;
}

.menu__starter {
  grid-area: starter;
  -webkit-animation: appearance 1s both ease-in-out;
          animation: appearance 1s both ease-in-out;
}

.menu__middle {
  grid-area: middle;
  -webkit-animation: appearance 1.4s 800ms both ease-in-out;
          animation: appearance 1.4s 800ms both ease-in-out;
}

.menu__finish {
  grid-area: finish;
  -webkit-animation: appearance 1.6s 1.6s both ease-in-out;
          animation: appearance 1.6s 1.6s both ease-in-out;
}

.wrapper__btn {
  grid-area: btn;
  -webkit-animation: appearance 2s 2.4s both ease-in-out;
          animation: appearance 2s 2.4s both ease-in-out;
}

@-webkit-keyframes appearance {
  0% {
    opacity: 0;
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes appearance {
  0% {
    opacity: 0;
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.menu__choice {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #FFFFFF;
  position: relative;
  -webkit-box-shadow: 2px 4px 8px 3px #e4e4e7;
          box-shadow: 2px 4px 8px 3px #e4e4e7;
  padding: 1rem;
  margin-bottom: 1.5rem;
  border-radius: 1.25rem;
  overflow: hidden;
  cursor: pointer;
}

.menu__choice--title {
  -ms-flex-negative: 5;
      flex-shrink: 5;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.menu__choice--price {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
  margin: 0;
  font-weight: 700;
  padding-left: 3rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.menu__choice--selected {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
  background-color: #99E2D0;
  margin: -1rem -5rem -1rem 1rem;
  width: 4rem;
  -webkit-transition-duration: .5s;
          transition-duration: .5s;
}

.menu__choice:hover .menu__choice--selected {
  margin-right: -1rem;
}

.menu__choice--transform {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
  height: 1.6rem;
  width: 1.6rem;
  background: #FFFFFF;
  border-radius: 6.25rem;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transition-duration: .5s;
          transition-duration: .5s;
}

.menu__choice:hover .menu__choice--transform {
  -webkit-transform: rotate(0);
          transform: rotate(0);
}

.menu__choice--checked {
  color: #99E2D0;
}

.menu__choice:hover {
  cursor: pointer;
}

.menu__choice:hover--price {
  -webkit-transform: translateX(-70px);
          transform: translateX(-70px);
}

.menu__choice:hover--selected {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.menu__choice:hover--transform {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.wrapper__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
  text-decoration: none;
  padding: 3rem;
}

.wrapper__btn--order {
  border: 0;
  padding: 1.5rem 4rem;
  font-weight: 500;
  font-size: 0.9em;
  color: #FFFFFF;
  border-radius: 100px;
  background: linear-gradient(-5deg, #9256dc 2%, #ff7ad9 98%);
  cursor: pointer;
  -webkit-box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.2);
  -webkit-transform: scale(1);
          transform: scale(1);
  cursor: pointer;
}

.wrapper__btn--order:hover {
  background: linear-gradient(10deg, #9256dc 1%, #ff7ad9 100%);
  -webkit-box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.5);
  -webkit-transition: 2s;
  transition: 2s;
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
}

@media all and (min-width: 750px) {
  .wrapper__btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-line-pack: distribute;
        align-content: space-around;
    padding: 3.75rem 0 0 3.75rem;
  }
}

@media all and (min-width: 1024px) {
  .wrapper__btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-line-pack: distribute;
        align-content: space-around;
    padding: 0;
  }
}

@media all and (min-width: 1400px) {
  .wrapper__btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-line-pack: distribute;
        align-content: space-around;
  }
}
/*# sourceMappingURL=main.css.map */