/** @format */

.footer {
  display: flex;
  flex-direction: column;
  background: $footer-bg;

  &__list {
    list-style: none;
    &--contact {
      &:hover {
        @include color-lighten;
      }
    }
  }
  &__icons {
    width: $size * 1.1;
    margin-right: $size;
  }
}
