/** @format */

.header {
  @include flexbox($justify-content: center);
  padding: map-get($sizing, regular);
  background: $color-white;
  box-shadow: $btn-shadow;
  position: relative;
  &__arrow {
    position: absolute;
    left: $size;
    top: 45%;
    transform: translateY(-50%);
    font-size: map-get($sizing, low) * 2;
    color: $text-color;
  }
  @include mobile-only {
    &__arrow {
      font-size: map-get($sizing, low) * 1.1;
      transition: 2s;
    }
  }
}
