.header {
    display: flex;
    /* flex-direction: row; */
    justify-content: center;
    align-items: center;
    padding: $layout-padding;
    background: $bg-color;
    box-shadow: $heading-shadow;
}