.hero {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    width: 100%;
    padding: $layout-padding;
    background: $bg-grey;
    &__btn {
        @include btn($color-primary, $color-secondary);
        @include a;
    }
    
}