.location {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: $location-padding;
    background: $location-bg;
    color: $location-color;
    &__icon {
        margin-right: $size * 2;
    }
    &__text {
        font-weight: 500;
    }
}