/** @format */

.operation {
  grid-area: operation;
  /* display: grid;
  grid-column: 1fr;
  grid-row: repeat(auto, 1fr); */
  @include padding-layout;
  
  &__steps {
    @include flexbox ($flex-direction: column, $justify-content: center, $align-items: center);
    @include ol;
    @include tablet {
    @include flexbox ($justify-content: space-around, $align-items: center);
  }
  @include desktop {
    @include flexbox ($justify-content: space-around, $align-items: center);
  }
  @include tv {
    @include flexbox($flex-direction: column, $justify-content: space-around, $align-items: center);
    padding-top: map-get($sizing, low);
  }
    
  }
  &__step {
    @include flexbox ($justify-content: flex-start, $align-items: baseline);
    @include step-layout;
    margin: map-get($sizing, low) 0 (map-get($sizing, low) * 2) (map-get($sizing, low) * 0.75);
    box-shadow: $btn-shadow;
    border-radius: map-get($sizing, low) * 1.25;
    background: $bg-grey;
    position: relative;
    @include tablet {
    width: map-get($sizing, low) * 15;
  }
    @include desktop {
    width: map-get($sizing, low) * 20;
  }
    &--icon {
      padding-right: map-get($sizing, low);
      flex-grow: 1;
      color: $heart-color;
    }
    &--text {
      flex-grow: 2;
    }
    /* @media (min-width: 1024px) {
      flex: 1;
      margin: 0;
      margin-left: map-get($sizing, regular);
    } */
    &::before {
      @include flexbox ($justify-content: center);
      counter-increment: compteListe 1;
      content: counter(compteListe) " ";
      background: $color-primary;
      @include dimension(#{$size*2.2});
      border-radius: 100%;
      color: $color-white;
      position: absolute;
      left: $size * -0.75;
    }
    &:hover {
      background: $operation-hover;
      cursor: pointer;
    }
  }
}
