/* Error: Duplicate argument.
 *    ,
 * 81 | @mixin padding ($pb:#{$size*1}, $pr:#{$size*1}, $pb:#{$size*1}, $pl:#{$size*1}) {
 *    |                                                 ^^^^^^^^^^^^^^
 *    '
 *   sass/base/_typography.scss 81:49  @import
 *   sass/main.scss 10:9               root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Duplicate argument.\a    \2577 \a 81 \2502  @mixin padding ($pb:#{$size*1}, $pr:#{$size*1}, $pb:#{$size*1}, $pl:#{$size*1}) {\a    \2502                                                  ^^^^^^^^^^^^^^\a    \2575 \a   sass/base/_typography.scss 81:49  @import\a   sass/main.scss 10:9               root stylesheet";
}
