@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;600;700&family=Shrikhand&display=swap");
/**
 * Colors *
 *
 * @format
 */
/** Elements **/
/** Layouts **/
/** measuring scale **/
/** Bootstraps **/
/** Box-shadow **/
/** Spacing **/
/** @format */
/** Bootstraps **/
/** Component **/
/** @format */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;600;700&family=Shrikhand&display=swap");
.loader {
  z-index: 3;
  opacity: 1;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(250, 250, 250, 0.9);
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 153, 212, 0) calc(15% + 100px), rgba(0, 99, 138, 0) calc(85% + 100px), rgba(0, 0, 0, 0.15) 100%);
  animation: loader 0.01s;
  animation-delay: 5s;
  animation-fill-mode: both;
}
.loader__ball {
  width: 3vw;
  height: 3vw;
  border-radius: 100%;
  margin: 2vw;
  background-image: linear-gradient(145deg, rgba(255, 255, 255, 0.7) 0%, rgba(0, 0, 0, 0.5) 100%);
  animation: bounce 1.5s 0.5s linear;
  animation-iteration-count: 3;
}
.loader__ball--purple {
  background: #9256dc;
  animation-delay: 0.1s;
}
.loader__ball--pink {
  background: #ff7ad9;
  animation-delay: 0.2s;
}
.loader__ball--green {
  background: #99e2d0;
  animation-delay: 0.3s;
}

@keyframes loader {
  100% {
    opacity: 0;
    z-index: -10;
  }
}
@keyframes bounce {
  0%, 50%, 100% {
    transform: scale(1);
    filter: blur(0px);
  }
  25% {
    transform: scale(0.6);
    filter: blur(3px);
  }
  75% {
    filter: blur(3px);
    transform: scale(1.4);
  }
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

:root {
  box-sizing: border-box;
}

body {
  width: 100%;
  min-width: 350px;
}

:root {
  font-family: "Roboto", sans-serif;
}

body {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.5;
}

h2 {
  color: #000000;
  font-size: 2rem;
  font-weight: 600;
  margin: 0;
  padding: 2rem;
}

h3 {
  text-transform: uppercase;
  position: relative;
  padding-bottom: 0.5rem;
  font-weight: 400;
  margin-bottom: 1.5rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
h3::after {
  content: "";
  width: 3.5rem;
  height: 0.5rem;
  background: #99e2d0;
  position: absolute;
  left: 0;
  bottom: 0;
}

h4 {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

h5 {
  font-size: 1.3rem;
  font-weight: 300;
  line-height: 1.5;
  color: #404040;
  padding: 2rem;
}

p {
  font-size: 1rem;
  font-weight: 300;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

a {
  text-decoration: none;
  color: #fafafa;
}

.header__logo {
  font-family: "Shrikhand", cursive;
  color: #101010;
  font-size: 2.5rem;
  line-height: 2rem;
}

.footer__logo {
  font-family: "Shrikhand", cursive;
  color: #ffffff;
  font-size: 1.375rem;
  line-height: 1.7rem;
  padding-bottom: 1.5rem;
}

.btn {
  border: 0;
  padding: 1.5rem 4rem;
  font-weight: 500;
  font-size: 1rem;
  color: #ffffff;
  border-radius: 100px;
  background: linear-gradient(-5deg, #9256dc 2%, #ff7ad9 98%);
  cursor: pointer;
  box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.2);
  transform: scale(1);
}
.btn:hover {
  background: linear-gradient(15deg, #9256dc -5%, #ff7ad9 100%);
  box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.7);
  transition: transform 2s;
  transform: scale(1.01);
}

/** @format */
.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: space-around;
  padding: 2rem;
  background: #ffffff;
  box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.125);
  position: relative;
}
.header__arrow {
  position: absolute;
  left: 1rem;
  top: 45%;
  transform: translateY(-50%);
  font-size: 2rem;
  color: #000000;
}
@media (max-width: 400px) {
  .header__arrow {
    font-size: 1.1rem;
    transition: 2s;
  }
}

.location {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: space-around;
  padding: 2rem;
  background: #eaeaea;
  color: #353535;
}
.location__icon {
  margin-right: 2rem;
}
.location__text {
  font-weight: 500;
}

/** @format */
.hero {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  align-content: space-around;
  text-align: center;
  width: 100%;
  padding: 2rem;
  padding-bottom: 4rem;
  background: #f6f6f6;
}
@media all and (min-width: 1400px) {
  .hero {
    display: grid;
    grid-template: repeat(2, 50px)/repeat(4, 300px);
    padding: 2rem 6rem;
  }
}
@media all and (min-width: 1400px) {
  .hero__title {
    grid-area: 1/1/1/5;
    justify-self: start;
    padding: 0;
  }
}
@media all and (min-width: 1400px) {
  .hero__text {
    grid-area: 2/1/2/4;
    justify-self: start;
    padding: 0;
  }
}
.hero__btn {
  border: 0;
  padding: 1.5rem 4rem;
  font-weight: 500;
  font-size: 1rem;
  color: #ffffff;
  border-radius: 100px;
  background: linear-gradient(-5deg, #9256dc 2%, #ff7ad9 98%);
  cursor: pointer;
  box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.2);
  transform: scale(1);
  text-decoration: none;
  color: #ffffff;
}
.hero__btn:hover {
  background: linear-gradient(15deg, #9256dc -5%, #ff7ad9 100%);
  box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.7);
  transition: transform 2s;
  transform: scale(1.01);
}
@media all and (min-width: 1400px) {
  .hero__btn {
    grid-area: 1/3/span 2/-1;
  }
}

/** @format */
.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  align-content: space-around;
  padding: 2rem;
  background: #353535;
}
.footer__list {
  list-style: none;
}
.footer__list--contact:hover {
  color: #ff8edf;
  transform: scaleX(1.2);
  transform: translateY(0%);
  transition: transform 2s ease-in-out;
}
.footer__icons {
  width: 1.1rem;
  margin-right: 1.5rem;
}

/** @format */
.operation {
  grid-area: operation;
  padding: 2rem;
  padding-bottom: 4rem;
}
.operation__steps {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: space-around;
  margin: 0;
  padding: 0;
  list-style: none;
  counter-reset: compteListe;
}
@media (min-width: 64rem) {
  .operation__steps {
    display: flex;
  }
}
@media all and (min-width: 750px) {
  .operation__steps {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    align-content: space-around;
  }
}
@media all and (min-width: 1024px) {
  .operation__steps {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    align-content: space-around;
  }
}
@media all and (min-width: 1400px) {
  .operation__steps {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    align-content: space-around;
    padding-top: 1rem;
  }
}
.operation__step {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: baseline;
  align-content: space-around;
  padding-top: 2rem;
  padding-right: 4rem;
  padding-bottom: 2rem;
  padding-left: 4rem;
  margin: 1rem 0 2rem 0.75rem;
  box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.125);
  border-radius: 1.25rem;
  background: #f6f6f6;
  position: relative;
}
@media all and (min-width: 750px) {
  .operation__step {
    width: 15rem;
  }
}
@media all and (min-width: 1024px) {
  .operation__step {
    width: 20rem;
  }
}
.operation__step--icon {
  padding-right: 1rem;
  flex-grow: 1;
  color: #404040;
}
.operation__step--text {
  flex-grow: 2;
}
.operation__step::before {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: space-around;
  counter-increment: compteListe 1;
  content: counter(compteListe) " ";
  background: #9256dc;
  height: 2.2rem;
  width: 2.2rem;
  border-radius: 100%;
  color: #ffffff;
  position: absolute;
  left: -0.75rem;
}
.operation__step:hover {
  background: rgba(146, 86, 220, 0.15);
  cursor: pointer;
}

/** @format */
.restaurant {
  grid-area: restaurant;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-gap: 2rem;
  padding: 2rem;
  padding-bottom: 4rem;
  background: #f6f6f6;
}
@media all and (min-width: 750px) {
  .restaurant {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media all and (min-width: 1400px) {
  .restaurant {
    background: #ffffff;
    padding-right: 4rem;
  }
}
@media all and (min-width: 750px) {
  .restaurant__title {
    grid-column-start: span 2;
  }
}
@media all and (min-width: 1400px) {
  .restaurant__title {
    padding-left: 0;
  }
}
.restaurant .figure__card {
  border-radius: 1rem;
  box-shadow: 2px 4px 8px 3px #e4e4e7;
  position: relative;
  background: #ffffff;
  cursor: pointer;
}
.restaurant .figure__card--img {
  height: 12.5rem;
  width: 100%;
  border-radius: 1rem 1rem 0 0;
  object-fit: cover;
  position: relative;
}
.restaurant .figure__card span {
  background: #99e2d0;
  color: #377e56;
  font-weight: 700;
  padding: 0.5rem 1.5rem;
  border-radius: 0.125rem;
  position: absolute;
  top: 1.5rem;
  right: 1rem;
}
.restaurant .figcaption__card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: space-around;
  padding: 1rem;
}
.restaurant .figcaption__card--text {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: start;
  align-content: space-around;
  padding: 1rem;
  position: relative;
}
.restaurant .figcaption__card--btn {
  display: flex;
  align-items: center;
  justify-content: end;
  width: 4rem;
  height: 4rem;
  border: transparent 0px solid;
  padding: 1rem;
  cursor: pointer;
  position: relative;
  background: #ffffff;
  transform: translateY(0%);
  transition: transform 2s;
}
.restaurant .figcaption__card--like {
  display: flex;
  align-items: end;
  justify-content: center;
  padding: 1rem;
  background: #ffffff;
  color: #404040;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: end;
  font-weight: normal;
  transform: scale(1);
  transition: all 4s;
  transform: translateY(5px);
  transition: transform 2s ease-in-out;
  overflow: hidden;
}
.restaurant .figcaption__card--like:hover {
  font-weight: bold;
  color: #9256dc;
  color: #ff8edf;
  transform: scaleX(1.2);
  transform: translateY(0%);
  transition: transform 2s ease-in-out;
}

/** @format */
@media all and (min-width: 1400px) {
  .container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 2rem;
    grid-template-areas: "operation restaurant restaurant ";
  }
}

/** @format */
/* @mixin grid($grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)), $grid-gap: 2rem) {
  display: grid;
  grid-template-columns: $grid-template-columns;
  grid-gap: $grid-gap;
} */
@media all and (min-width: 1400px) {
  .wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 2rem;
    grid-template-areas: "img main main";
    width: 100%;
    background: #f6f6f6;
  }
  .wrapper .hero__page_menu {
    height: 68vh;
    width: 70vh;
    /* object-fit: cover;
    object-position: rigth bottom; */
  }
  .wrapper .hero__page_menu--img {
    grid-area: img;
    height: 68vh;
    /* object-fit: cover;
    object-position: rigth bottom; */
  }
}

.hero__page_menu--img {
  height: 50vh;
  width: 100%;
  max-width: 100%;
  object-fit: cover;
}

.resto {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 2rem;
  width: 100%;
  margin-top: -6rem;
  padding-right: 0.3rem;
  padding: 2rem;
  padding-bottom: 4rem;
  position: relative;
  display: block;
  border-radius: 4rem 4rem 0 0;
  background: #f6f6f6;
  z-index: 1;
  padding: 2rem;
}
@media all and (min-width: 750px) {
  .resto {
    max-width: 100%;
    /*  @include grid; */
    grid-template-areas: "title title" "starter middle" "finish btn";
    /* grid-gap: $size * 2; */
  }
}
@media all and (min-width: 1024px) {
  .resto {
    display: grid;
    grid-template-areas: "title title btn" "starter middle finish";
    /* grid-gap: $size * 2; */
  }
}
@media all and (min-width: 1400px) {
  .resto {
    grid-area: main;
    height: 68vh;
    width: calc(100% + $size * 3);
    margin-top: 0;
    border-radius: 4rem 0 0 4rem;
    /*  @include grid; */
    grid-template-areas: "title title btn" "starter middle finish";
    /* grid-gap: $size * 2; */
  }
}
.resto__menu {
  grid-area: title;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: space-around;
  margin-bottom: 2rem;
}
@media all and (min-width: 1024px) {
  .resto__menu {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    align-content: space-around;
    margin-bottom: 0;
  }
}
@media all and (min-width: 1400px) {
  .resto__menu {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    align-content: space-around;
    margin-bottom: 0;
  }
}
.resto__menu--title {
  font-family: "Shrikhand", cursive;
  padding: 2rem 0;
  font-size: 1.5rem;
  z-index: 1;
}
@media all and (min-width: 750px) {
  .resto__menu--title {
    font-size: 2rem;
  }
}
.resto__menu--btn {
  grid-area: heart;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4rem;
  height: 4rem;
  border: transparent 0px solid;
  padding: 1rem;
  cursor: pointer;
  position: relative;
  background: #f6f6f6;
  transform: translateY(0%);
  transition: transform 2s;
}
@media all and (min-width: 1400px) {
  .resto__menu--btn {
    padding-left: 3rem;
  }
}
.resto__menu--like {
  display: flex;
  align-items: center;
  justify-content: start;
  padding: 1rem;
  background: #f6f6f6;
  color: #404040;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: end;
  font-weight: normal;
  transform: scale(1);
  transition: all 4s;
  transform: translateY(5px);
  transition: transform 2s ease-in-out;
  overflow: hidden;
  padding-right: 1.7rem;
}
.resto__menu--like:hover {
  font-weight: bold;
  color: #9256dc;
  color: #ff8edf;
  transform: scaleX(1.2);
  transform: translateY(0%);
  transition: transform 2s ease-in-out;
}

.menu__starter,
.menu__middle {
  margin-bottom: 3.5rem;
}

.menu__starter {
  grid-area: starter;
  animation: appearance 1s both ease-in-out;
}

.menu__middle {
  grid-area: middle;
  animation: appearance 1.4s 800ms both ease-in-out;
}

.menu__finish {
  grid-area: finish;
  animation: appearance 1.6s 1.6s both ease-in-out;
}

.wrapper__btn {
  grid-area: btn;
  animation: appearance 2s 2.4s both ease-in-out;
}

@keyframes appearance {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.menu__choice {
  display: flex;
  flex-wrap: wrap;
  background: #ffffff;
  position: relative;
  box-shadow: 2px 4px 8px 3px #e4e4e7;
  padding: 1rem;
  margin-bottom: 1.5rem;
  border-radius: 1.25rem;
  overflow: hidden;
  cursor: pointer;
}
.menu__choice--title {
  flex-shrink: 5;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.menu__choice--price {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  align-content: space-around;
  margin: 0;
  font-weight: 700;
  padding-left: 3rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.menu__choice--selected {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: space-around;
  background-color: #99e2d0;
  margin: -1rem -5rem -1rem 1rem;
  width: 4rem;
  transition-duration: 1s;
}
.menu__choice:hover .menu__choice--selected {
  margin-right: -1rem;
}
.menu__choice--transform {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: space-around;
  height: 1.6rem;
  width: 1.6rem;
  background: #ffffff;
  border-radius: 6.25rem;
  transform: rotate(180deg);
  transition-duration: 1s;
}
.menu__choice:hover .menu__choice--transform {
  transform: rotate(0);
}
.menu__choice--checked {
  color: #99e2d0;
}

.menu__choice:hover {
  cursor: pointer;
}
.menu__choice:hover--price {
  transform: translateX(-70px);
}
.menu__choice:hover--selected {
  transform: scaleX(1);
}
.menu__choice:hover--transform {
  transform: rotate(1turn);
}

.wrapper__btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: space-around;
  text-decoration: none;
  padding: 3rem;
}
.wrapper__btn--order {
  border: 0;
  padding: 1.5rem 4rem;
  font-weight: 500;
  font-size: 1rem;
  color: #ffffff;
  border-radius: 100px;
  background: linear-gradient(-5deg, #9256dc 2%, #ff7ad9 98%);
  cursor: pointer;
  box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.2);
  transform: scale(1);
  cursor: pointer;
}
.wrapper__btn--order:hover {
  background: linear-gradient(15deg, #9256dc -5%, #ff7ad9 100%);
  box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.7);
  transition: transform 2s;
  transform: scale(1.01);
}
@media all and (min-width: 750px) {
  .wrapper__btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: space-around;
    padding: 3.75rem 0 0 3.75rem;
  }
}
@media all and (min-width: 1024px) {
  .wrapper__btn {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    align-content: space-around;
    padding: 0;
  }
}
@media all and (min-width: 1400px) {
  .wrapper__btn {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    align-content: space-around;
  }
}

/*# sourceMappingURL=style.css.map */
