/** @format */

.hero__page_menu {
  &--img {
    height: 50vh;
    width: 100%;
    max-width: 100%;
    object-fit: cover;
  }
}

.resto {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  margin-top: $size * -6;
  padding-right: map-get($sizing, low) * 0.3;
  border-radius: 4rem 4rem 0 0;
  background: $resto-bg;
  z-index: 1;
  position: relative;
  @include padding-layout;
  display: block;

  &__menu {
    @include flexbox ($justify-content: space-between);
    margin-bottom: map-get($sizing, low) * 2;
    &--title {
      font-family: $shrikhand;
      flex-grow: 2;
      @include text-ellipsis;
      padding: 2rem 0;
    }

    &--btn {
      @include heart($justify-content: center, $color: $resto-bg);
    }

    &--like {
      @include heart-hover(
        $justify-content: center,
        $align-items: start,
        $bg: $resto-bg
      );
      padding-right: map-get($sizing, low) * 1.7;
    }
  }
}
.menu__starter,
.menu__middle {
  margin-bottom: map-get($sizing, low) * 3.5;
}

.menu__starter {
  animation: appearance 1s both ease-in-out;
}

.menu__middle {
  animation: appearance 1.4s 800ms both ease-in-out;
}

.menu__finish {
  animation: appearance 1.6s 1.6s both ease-in-out;
}

@keyframes appearance {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.menu__choice {
  display: flex;
  background: $color-white;
  position: relative;
  box-shadow: $card-shadow;
  padding: map-get($sizing, low);
  margin-bottom: map-get($sizing, low) * 1.5;
  border-radius: map-get($sizing, low) * 1.25;
  overflow: hidden;
  cursor: pointer;

  &--title {
    flex-shrink: 5;
    @include text-ellipsis;
  }

  &--price {
    flex-grow: 1;
    @include flexbox ($justify-content: flex-end, $align-items: flex-end);
    margin: 0;
    font-weight: 700;
    padding-left: map-get($sizing, low) * 3;
    @include text-ellipsis;
  }

  &--selected {
    @include flexbox ($justify-content: center, $align-items: center);
    background-color: $color-tertiary;
    margin: $size * -1 $size * -5 $size * -1 $size;
    width: map-get($sizing, low) * 4;
    transition-duration: 0.5s;
  }

  &:hover &--selected {
    margin-right: map-get($sizing, low) * -1;
  }

  &--transform {
    @include flexbox ($justify-content: center, $align-items: center);
    @include dimension(#{$size * 1.6});
    background: $color-white;
    border-radius: map-get($sizing, low) * 6.25;
    transform: rotate(180deg);
    transition-duration: .5s;
  }

  &:hover &--transform {
    transform: rotate(0);
  }

  &--checked {
    color: $color-tertiary;
  }
}

.menu__choice:hover {
  cursor: pointer;

  &--price {
    transform: translateX(-70px);
  }

  &--selected {
    transform: scaleX(1);
  }

  &--transform {
    transform: rotate(360deg);
  }
}

.wrapper__btn {
  @include flexbox ($justify-content: center);
  text-decoration: none;
  padding: map-get($sizing, low) * 3;

  &--order {
    @include btn;
    cursor: pointer;
  }
}
