/** @format */

@mixin a {
  text-decoration: none;
  color: $color-white;
}

@mixin ol {
  margin: 0;
  padding: 0;
  list-style: none;
  counter-reset: compteListe;
  @media (min-width: 64rem) {
    display: flex;
  }
}

@mixin text-ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

@mixin color-lighten($color1: $color-secondary) {
  color: lighten($color1, 8);
  transition: 2.5s;
}

/** Bootstraps **/
@mixin dimension ($dimension: $size) {
    height: $dimension;
    width: $dimension;
}

@mixin padding-layout {
  padding: map-get($sizing, regular);
  padding-bottom: map-get($sizing, high);
}

@mixin step-layout {
  padding-top: map-get($sizing, regular);
  padding-right: map-get($sizing, high);
  padding-bottom: map-get($sizing, regular);
  padding-left: map-get($sizing, high);
}

/** Flexbox **/

@mixin flexbox($flex-direction: row, $justify-content: space-between, $align-items: center, $align-content: space-around) {
    display: flex;
    flex-direction: $flex-direction;
    justify-content: $justify-content;
    align-items: $align-items;
    align-content: $align-content;
}

@mixin btn(
  $color1: $color-primary,
  $color2: $color-secondary,
  $color3: $color-white
) {
  border: 0;
  padding: 1.5rem 4rem;
  font-weight: 500;
  font-size: 0.9em;
  color: $color3;
  border-radius: 100px;
  background: linear-gradient(-5deg, $color1 2%, $color2 98%);
  cursor: pointer;
  box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.2);
  transform: scale(1);

  &:hover {
    background: linear-gradient(10deg, $color1 1%, $color2 100%);
    box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.5);
    transition: 2s;
    transform: scale(1.01);
  }
}

@mixin heart(
  $justify-content: end,
  $color: $color-white,
  $unsize: $size * 4,
  $padding: map-get($sizing, low))
  {
  display: flex;
  align-items: center;
  justify-content: $justify-content;
  width: $unsize;
  height: $unsize;
  border: transparent 0px solid;
  padding: map-get($sizing, low);
  cursor: pointer;
  position: relative;
  background: $color;
}

@mixin heart-hover(
  $justify-content: end,
  $align-items: center,
  $bg: $color-white,
  $padding: map-get($sizing, low)) 
  {
  display: flex;
  align-items: $justify-content;
  justify-content: $align-items;
  padding: $padding;
  background: $bg;
  color: $heart-color;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: end;
  font-weight: normal;
  &:hover {
    font-weight: bold;
    @include color-lighten;
  }
}
