$color-primary: #9256dc;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;

$bg-color: #FAFAFA;
$location-bg: #EAEAEA;
$footer-bg: #353535;
$footer-color:#FAFAFA;

$text-color: #040404;

$heading-shadow: 0 0 .5rem rgba(0, 0, 0, 0.25);

$layout-padding: 2rem;

/* $colour-accent: #D6FFF5;
$colour-white: #fff;
$colour-invalid: #DB464B;

$heading-shadow-size: .55rem;
$layout-margin: 6rem;
$grid-gutter: $layout-margin * .25; */