$color-primary: #9256dc;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;

$bg-color: #FAFAFA;
$bg__search: #EAEAEA;

$text-color: #040404;

$heading-shadow: 0px 3px 3px rgba(0, 0, 0, 0.2);

$colour-accent: #D6FFF5;
$colour-white: #fff;
$colour-invalid: #DB464B;

$heading-shadow-size: .55rem;
$layout-margin: 6rem;
$grid-gutter: $layout-margin * .25;