
/** Color **/
$color-primary: #9256dc;
$color-secondary: #ff7ad9;
$color-tertiary: #99E2D0;
$color-white: #FFFFFF;
$bg-grey: #F6F6F6;
$grad: linear-gradient(#e76ce7, #a37cfd);
$linear-gradient: linear-gradient(0deg, $color-primary 0%, $color-secondary 100%);
/** Elements **/
$header-color:#101010;
$text-color: #040404;
$heart-color: #404040;
$location-color:#353535;
$span-new-bg: #99E2D0;
$span-new-color: #377E56;

/** Layout **/
$location-bg: #EAEAEA;
$footer-bg: #353535;
$footer-color:#FAFAFA;
$resto-bg:#F6F6F6;


/** Box-shadow **/
$heading-shadow: .25rem .25rem .5rem rgba(0, 0, 0, 0.5);
$btn-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.125);
$card-shadow: 2px 4px 8px 3px rgb(228, 228, 231);


/** Spacing **/
$header-padding: 2rem;
$layout-padding: 2rem 2rem 4rem 2rem;
$layout-page-menu-padding: 4rem 2rem;
$location-padding: 2rem;



